*{
  font-family: 'Montserrat', sans-serif;
}
.App{
  display:flex;
  flex-direction: column;
  justify-content:center;

}
.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.item{
  margin:50px;
  text-align: center;
}
.filterItem{
  margin:20px
}
.header{
  display: flex;
  justify-content: center;
}
.buttonSelected{
  text-decoration:underline #001D6E;
}
.categoryButton:hover{
  text-decoration:underline #001D6E;
}
.categoryButton{
  cursor:pointer;
  margin:5px;
  padding:5px;
}
.addToCartBtn{
  margin:15px;
  border:none;
  padding:10px;
  background-color: #C4DDFF;
}
.changeQuantityBtn{
  margin:8px;
  border:none;
}
.cart{
  display: flex;
  justify-content: center;
}
.cartItem{
  text-align: center;
}
@media all and (max-width:500px){

.filterItem{
  margin:3px;
}
}